
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
li,h1,ul
{
    display: inline;
}
ul{
    margin-left: 60%;

}
li{
    color: grey;
    cursor: pointer;
        
}
a{
    text-decoration: none;
    color: grey;
    }
    a:hover{
        color: white;
    }
li:hover{
    color:white;
}
span{
    margin-right: 25px;
}
input{
    width: 70%;
    padding: 20px;
}
.bcolor{
    background-color: khaki;
}
.searchbar{
     padding: 70px;
     text-align: center;
}
.box{
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    width: 225px;
    margin-right: 40px;
    padding: 30px;
    border-radius: 8px;
    transition: 0.3s;
    
  }
  img{
    border-radius: 8px;
  }
  .box:hover{
    background-color: rgb(180, 240, 76);
    color: rgb(44, 135, 239);
    transform: scale(1.1);
  }
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    text-decoration: underline;
}
.contact{
    background-color: black;
    color: rgb(238, 232, 232);

}
.contact h2,p{
    text-align: center;
}
